*{
	font-family: 微軟正黑體;
}

.test {
    padding: 50px;
    display: inline-block;
    vertical-align: top;
}
.box {
    width: 300px;
    height: 300px;
    background-color: #000;
    margin-bottom: 10px;
}
.chart {
    margin: 10px;
    width: 600px;
    border: 2px solid black;
    padding: 2px 4px;
    height: 25px;
    vertical-align: middle;
}
.chart li {
    display: inline-block;
    content: " ";
    border: 2px solid black;
    height: 80%;
    width: 8px;
    background-color: #000;
}
.bar {
    width: 300px;
    border: 2px solid black;
    height: 30px;
    padding: 3px;
    position: relative;
    margin-bottom: 50px;
    /*width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 15px 100px 220px;
	border-color: transparent transparent #6c98c7 transparent;*/
}
.bar .inline {
    height: 100%;
    width: 0px;
    background-color: black;
}
.startBtn {
    border: 1px solid black;
    width: 300px;
    border-radius: 6px;
    cursor: pointer;
    padding: 6px;
}
.startBtn:hover {
    background-color: yellow
}

.imgrange{
	width: 100%;
}
.imgChange {
    background: url("../images/bear-1.png");
    height: 300px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 30px auto;
}
.imgChange.active {
    background: url("../images/bear-2.png");
    height: 300px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}


/* Owl Carousel */
.owl-prev {
    background: url('https://res.cloudinary.com/milairagny/image/upload/v1487938188/left-arrow_rlxamy.png') left center no-repeat;
    height: 54px;
    position: absolute;
    top: 50%;
    width: 27px;
    z-index: 1000;
    left: 2%;
    cursor: pointer;
    color: transparent;
    margin-top: -27px;
}
.owl-next {
    background: url('https://res.cloudinary.com/milairagny/image/upload/v1487938220/right-arrow_zwe9sf.png') right center no-repeat;
    height: 54px;
    position: absolute;
    top: 50%;
    width: 27px;
    z-index: 1000;
    right: 2%;
    cursor: pointer;
    color: transparent;
    margin-top: -27px;
}
.owl-prev:hover,
.owl-next:hover {
    opacity: 0.5;
}

/* Owl Carousel */
.item {
    position: relative;
}
.item a {
    display: block;
    width: 100%;
}
.item a:hover:before, .item a.focus:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

/*選角*/
.roleSelect{
	width: 100%;
	background: url('../images/roleSelect.PNG');
	height: 300px;
	z-index: 0;
	position: relative;
}

.roleSelect .roleBtn{
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*遊戲倒數*/
.game_text{
  	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.game_text span {
	font-size: 150px;
	color: #fff;
}

.modal-dialog {
	width: 100%;
	height: 80%;
}